html {
    height: 2000vh;
}

@font-face {
    font-family: 'pixel';
    src: url('./fonts/Apple\ II\ Pro.otf') format('opentype');
}

body {
    width: 100vw;
    height: inherit;
    padding: 0px 0px;
    margin: 0px 0px;
    background-color: black;


    /* Hide scrollbars */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    overflow-x: hidden;

    /* Specify default font settings */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;

    /* Initially disable scrolling */
    overflow-y: hidden;
}

#main-content {
    display: flex;
    height: inherit;
    width: 1408px;
    
    margin: 0 auto;
}

@keyframes fade-out {
    from{opacity: 1;}
    to{opacity: 0;}
}

#title-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: 'pixel';
    z-index: 10;
    
}

#title {
    position: absolute;
    text-align: center;
    width: 800px;

    left: calc(50% - 400px);
    font-size: 100px;
}

#title-screen p {
    position: absolute;
    top: 50vh;
    width: 800px;
    left: calc(50% - 400px);
}

#start-button {
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-family: 'pixel';
    background-color: #292929;
    color: white;
    
    position: absolute;

    top: 60vh;
    left: calc(50% - 200px);
}

#start-button:hover {
    cursor: pointer;
    background-color: black;
    color: #ccc;
}

.sidebar {
    height: inherit;
    width: 512px;
    
    background-image: url('./images/tiles/grass.png');
    background-size: 128px 128px;
}

.path-edge {
    height: inherit;
    width: 128px;

    top: 0px;
    z-index: 2;

    position: relative;
    background-image: url('./images/tiles/path_edge.png');
}

#right-bar {
    text-align: right;
}

#left-path-edge {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    float: right;    
}


#right-path-edge {
    left: 0px;
    
}

#right-path-edge-interior {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    filter: FlipH;
    -ms-filter: "FlipH";
    

    height: inherit;
    position: relative;
    float: right;
}

#left-path-edge-interior {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";

    height: inherit;
    position: absolute;
    float: left;
}

.content-column {
    /* Define grid layout */
    display: inline;
    position: relative;
}

#cave {
    position: absolute;
    width: 640px;
    height: 384px;
    background-image: url('./images/sprites/cave.png');
    color: white;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    margin-left: 384px;
    
    

    z-index: 5;
}

#cave-text{
    margin: auto;
    width: fit-content;
    margin-top: 128px;
}

#path-container {
    height: inherit;
    width: 384px;
    

    flex-shrink: 0;

    /* Specify visual style */
    background-image: url('./images/tiles/stone_path_1.png');
    background-position-x: 0px;
    background-size: 128px 128px;
}

#character {
    position: fixed;

    text-align: center;

    width: 128px;
    height: 128px;

    background-image: url('./images/sprites/cat_sprite_sheet.png');
    z-index: 2;

    margin-left: 128px;
    top: 128px;
}

@keyframes glow {
    from {box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0);}
    to {box-shadow: 0px 0px 5px 5px white;}
}

@keyframes unglow {
    from { box-shadow: 0px 0px 5px 5px white; }
    to { box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0); }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.env-text {
    width: 384px;
    height: 384px;
    position: absolute;
    z-index: 3;

}

#text1 {
    background-image: url("./images/sprites/text1.png");
    
    left: 64px;
    top: 896px;
}

.town {
    width: 1408px;
    position: relative;
    margin-left: -512px;
    
    z-index: 7;
}

.x-button {
    position: relative;
    width: 40px;
    height: 40px;
    border: 0px;
    color: white;
    transform: translateX(calc(256px - 20px));
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'pixel';
}

.x-button:hover {
    cursor: pointer;
    color: #ccc;
    
}

#arrow {
    position: fixed;
    z-index: 10;
    
    width: 128px;
    height: 128px;

    left: calc(50vw - 64px);
    color: black;
    text-align: center;
    font-family: 'pixel';
    font-size: 120px;

    display: none;
}

.town-info {
    font-family: 'pixel';
    display: none;
    position: absolute;
    width: 512px;
    left: calc(704px - 256px);
    text-align: center;
    color: white;
    opacity: 0;
    background-color: black;
    border: 4px solid white;
    
}

#town1 {
    top: 2048px;
}

.info-container {
    display: none;
}

.structure {
    width: 256px;
    height: 256px;
    position: relative;
    
    /* Temp styles */
   

}

#building-1-1 {
    background-image: url("./images/sprites/ruin1.png");
}

#building-2-1 {
    background-image: url("./images/sprites/ruin2.png");
}

@keyframes slideIn {
    from {
        top: calc(100vh);
    }
    to {
        top: 100px;
    }
}

@keyframes slideOut {
    from {
        top: 100px;
    }
    to {
        top: calc(100vh);
    }
}

#letter-content {
    width: 800px;
    height: 550px;
    background-color: #ccc;
    padding: 40px;
    padding-top: 60px;

    line-height: 1.5;
    font-family: 'pixel';

    position: fixed;
    top: 100px;
    left: calc(50vw - 400px);
    display: none;
}

.letter {
    width: 80px;
    height: 56px;
    position: absolute;
    z-index: 4;

    background-image: url('./images/sprites/letter.png');
    background-size: cover;
}

.letter:hover {
    cursor: pointer;
    
    width: 84px;
    height: 60px;
    
    box-shadow: 4px 2px 4px 2px rgba(0, 0, 0, 0.39)
}

.letter-close-btn {
    height: 40px;
    width: 40px;
    position: absolute;
    
    top: 0;
    right: 0;

    color: white;
    text-align: center;


    cursor: pointer;
    background-color: #292929;
}

.letter-close-btn p {
    padding-top: 5px;
    margin: 0 auto;
}


.letter-close-btn:hover{
    background-color: black;
}

#first-letter {
    top: 3200px;
    transform: rotate(45deg);
}

#letter-2 {
    top: 3800px;
    
}

.right {
    transform: translateX(calc(512px + 384px + 128px));
}

.left {
    transform: translateX(calc(128px));
}

.interactable:hover {
    background-position: 256px;
    cursor: pointer;
}


.plant {
    position: absolute;
    display: inline;
}

.tree {
    position: absolute;
    display: block;
    z-index: 6;
    height: 256px;
    width: 128px;
    background-image: url('./images/sprites/spruce.png');
}

.bush {
    position: absolute;
    display: block;
    z-index: 5;
    height: 128px;
    width: 128px;
    background-image: url('./images/sprites/bush.png');
}

.flowers {
    position: absolute;
    display: block;
    z-index: 5;
    height: 128px;
    width: 128px;
    background-image: url('./images/sprites/flowers.png');
}

.grass {
    position: absolute;
    display: block;
    z-index: 5;
    height: 128px;
    width: 128px;
    background-image: url('./images/sprites/long_grass.png');
}

/* HIDE SCROLLBARS */
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}