html {
    height: 2000vh;
}

body {
    width: 100vw;
    height: inherit;
    padding: 0px 0px;
    margin: 0px 0px;
    background-color: black;


    /* Hide scrollbars */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 

    /* Specify default font settings */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;

    /* Initially disable scrolling */
    overflow-y: hidden;
}

#main-content {
    display: flex;
    height: inherit;
    width: 1408px;
    
    margin: 0 auto;
}

@keyframes fade-out {
    from{opacity: 1;}
    to{opacity: 0;}
}

#title-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 10;
    
}

#title {
    position: absolute;
    text-align: center;
    width: 800px;

    left: calc(50% - 400px);
    font-size: 100px;
}

#start-button {
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #292929;
    color: white;
    
    position: absolute;

    top: 50vh;
    left: calc(50% - 200px);
}

#start-button:hover {
    cursor: pointer;
    background-color: black;
}

.sidebar {
    height: inherit;
    width: 512px;
    
    background-image: url('./images/tiles/grass_2.png');
    background-size: 128px 128px;
}

.path-edge {
    height: inherit;
    width: 128px;

    top: 0px;
    z-index: 2;

    position: relative;
    background-image: url('./images/tiles/path_edge_1.png');
}

#right-bar {
    text-align: right;
}

#left-path-edge {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    float: right;    
}


#right-path-edge {
    left: 0px;
    
}

#right-path-edge-interior {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    filter: FlipH;
    -ms-filter: "FlipH";
    

    height: inherit;
    position: relative;
    float: right;
}

#left-path-edge-interior {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";

    height: inherit;
    position: absolute;
    float: left;
}

.content-column {
    /* Define grid layout */
    display: inline;
    position: relative;
}

#cave {
    position: absolute;
    width: 640px;
    height: 384px;
    background-image: url('./images/sprites/cave.png');
    color: white;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    margin-left: 384px;
    

    z-index: 5;
}

#cave-text{
    margin: auto;
    width: fit-content;
    margin-top: 128px;
}

#path-container {
    height: inherit;
    width: 384px;
    

    flex-shrink: 0;

    /* Specify visual style */
    background-image: url('./images/tiles/stone_path_1.png');
    background-size: 128px 128px;
}

#character {
    position: fixed;

    text-align: center;

    width: 128px;
    height: 128px;

    background-image: url('./images/sprites/gato_1.png');
    z-index: 2;

    margin-left: 128px;
    top: 128px;
}

@keyframes glow {
    from {box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0);}
    to {box-shadow: 0px 0px 5px 5px white;}
}

@keyframes unglow {
    from { box-shadow: 0px 0px 5px 5px white; }
    to { box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0); }
}

.structure {
    width: 256px;
    height: 256px;
    position: relative;
    
}

.structure:hover {
    animation-name: glow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.structure:not(:hover) {
    animation-name: unglow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.plant {
    position: absolute;
    display: inline;
}

.tree {
    position: absolute;
    z-index: 4;
    height: 256px;
    width: 128px;
    background-image: url('./images/sprites/spruce.png');
}

#test-tree {
    margin-top: 128px;
    margin-left: 128px;
}

/* HIDE SCROLLBARS */
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}