html {
    height: calc(10000px + 256px + 100vh + 5000px);
}

@font-face {
    font-family: 'pixel';
    src: url('./fonts/Apple\ II\ Pro.otf') format('opentype');
}

body {
    width: 100vw;
    height: inherit;
    padding: 0px 0px;
    margin: 0px 0px;
    background-color: black;


    /* Hide scrollbars */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    overflow-x: hidden;

    /* Specify default font settings */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;

    /* Initially disable scrolling */
    overflow-y: hidden;
}

#main-content {
    display: flex;
    height: calc(10000px + 256px);
    width: 1408px;
    
    margin: 0 auto;
}

#black-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;

    background-color: white;
    opacity: 0;

    transition: opacity 0.5s; 

}

#black-screen h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'pixel';
    margin-top: calc(50vh - 50px);
}

#water-level {
    height: 5000px;
    width: 1408px;
    margin: 0 auto;
    background-image: url('./images/tiles/water.png');

    text-align: left;
}

#credits {
    width: 100vw;
    height: 100vh;


    padding-top: 30px;
    background-color: white;
    text-align: center;
}

#credit-content {
    width: 1408px;
    height: 100vh;

    margin: 0 auto;
    text-align: center;
}

#credits h1, h2 {
    margin-top: 0px;
}

@keyframes fade-out {
    from{opacity: 1;}
    to{opacity: 0;}
}

#title-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: 'pixel';
    z-index: 3000;
    
}

#title {
    position: absolute;
    text-align: center;
    width: 800px;

    left: calc(50% - 400px);
    font-size: 100px;

    display: none;
}

#title-screen p, 
#title-screen button {
    display: none;
}

#loading {
    position: absolute;
    text-align: center;
    width: 800px;

    top: calc(35vh);

    left: calc(50vw - 400px);
    font-size: 100px;
}

#title-screen p {
    position: absolute;
    top: 50vh;
    width: 800px;
    left: calc(50% - 400px);
}

#start-button {
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-family: 'pixel';
    background-color: #292929;
    color: white;
    
    position: absolute;

    top: 60vh;
    left: calc(50% - 200px);
}

#start-button:hover {
    cursor: pointer;
    background-color: black;
    color: #ccc;
}

.sidebar {
    height: inherit;
    width: 512px;
    
    background-image: url('./images/tiles/grass.png');
    background-size: 128px 128px;
}

.path-edge {
    height: inherit;
    width: 128px;

    top: 0px;
    z-index: 2;

    position: relative;
    background-image: url('./images/tiles/path_edge.png');
}

#right-bar {
    text-align: right;
}

#left-path-edge {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    float: right;    
}


#right-path-edge {
    left: 0px;
    
}

#right-path-edge-interior {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    filter: FlipH;
    -ms-filter: "FlipH";
    

    height: inherit;
    position: relative;
    float: right;
}

#left-path-edge-interior {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";

    height: inherit;
    position: absolute;
    float: left;
}

.content-column {
    /* Define grid layout */
    display: inline;
    position: relative;
}

#cave {
    position: absolute;
    width: 640px;
    height: 384px;
    background-image: url('./images/sprites/cave.png');
    color: white;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    margin-left: 384px;
    

    z-index: 5;
}

#cave-text{
    margin: auto;
    width: fit-content;
    margin-top: 128px;
}

#path-container {
    height: inherit;
    width: 384px;
    

    flex-shrink: 0;

    /* Specify visual style */
    background-image: url('./images/tiles/stone_path_1.png');
    background-position-x: 0px;
    background-size: 128px 128px;
}

#character {
    position: fixed;

    text-align: center;

    width: 128px;
    height: 128px;

    background-image: url('./images/sprites/cat_sprite_sheet.png');
    z-index: 2;

    margin-left: 128px;
    top: 128px;
}

#raft {
    position: fixed;
    display: none;

    z-index: 100;

    width: 128px;
    height: 256px;

    margin: 0 auto;
    margin-left: 128px;
    top: 80px;

    background-image: url('./images/sprites/raft.png');
}

@keyframes glow {
    from {box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0);}
    to {box-shadow: 0px 0px 5px 5px white;}
}

@keyframes unglow {
    from { box-shadow: 0px 0px 5px 5px white; }
    to { box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0); }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.env-text {
    width: 384px;
    height: 384px;
    position: absolute;
    z-index: 3;
    font-family: 'pixel';
    color: rgb(3, 38, 3);
    font-size: large;

    left: calc(50% - 200px);
    line-height: 1.5;

    z-index: 2000;
}

.water-text {
    width: 384px;
    height: 384px;
    position: absolute;
    z-index: 3;
    font-family: 'pixel';
    color: white;
    font-size: large;

    line-height: 1.5;

    z-index: 2000;
}

#text1 {
    background-image: url("./images/sprites/text1.png");
    
    left: 64px;
    top: 896px;
}

.town {
    width: 1408px;
    position: relative;
    margin-left: -512px;
    
    z-index: 7;
}

.x-button {
    position: relative;
    width: 40px;
    height: 40px;
    border: 0px;
    color: red;
    transform: translateX(calc(256px - 20px));
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'pixel';
}

.x-button h1 {
    margin-top: 0px;
}

.x-button:hover {
    cursor: pointer;
    color: rgb(160, 0, 0);
    
}

#arrow {
    position: fixed;
    z-index: 10;
    
    width: 128px;
    height: 128px;

    left: calc(50vw - 64px);
    color: black;
    text-align: center;
    font-family: 'pixel';
    font-size: 120px;

    display: none;
}

.town-info {
    font-family: 'pixel';
    display: none;
    position: absolute;
    width: 512px;
    left: calc(704px - 256px);
    text-align: center;
    color: white;
    opacity: 0;
    background-color: black;
    border: 4px solid white;
    
}

#town1 {
    top: 2048px;
}

#town2 {
    top: 6048px;
}

.info-container {
    display: none;
}

.structure {
    width: 256px;
    height: 256px;
    position: relative;
    
    /* Temp styles */
}

.person {
    width: 128px;
    height: 256px;
    position: relative;
}

#building-1-1 {
    background-image: url("./images/sprites/ruin1.png");
}

#building-2-1 {
    background-image: url("./images/sprites/ruin2.png");
}

#building-1-2 {
    background-image: url("./images/sprites/rocks.png");
}

#person-2-2 {
    background-image: url("./images/sprites/grandma.png");
    transform: scaleX(-1);
    left: 300px;
}

#person-1-2 {
    background-image: url("./images/sprites/wizard.png");
}

#person-3-2 {
    /* Jumino */

    background-image: url("./images/sprites/jumino.png");
    height: 128px;
    top: 128px;
    left: -90px;
}

#person-4-2 {
    /* Felix */

    background-image: url('./images/sprites/felix.png');
    top: 128px;
}

#building-2-2 {
    background-image: url('./images/sprites/house1.png');
}

#building-3-2 {
    background-image: url('./images/sprites/house2.png');
    top: 128px;
}

#water-ruins-1 {
    background-image: url('./images/sprites/water_ruin.png');
    top: 1800px;
    left: calc(384px + 512px + 128px);
}

#water-ruins-2 {
    background-image: url('./images/sprites/wiz_tower.png');
    top: 2300px;
    left: 128px;
}

@keyframes slideIn {
    from {
        top: calc(100vh);
    }
    to {
        top: 100px;
    }
}

@keyframes slideOut {
    from {
        top: 100px;
    }
    to {
        top: calc(100vh);
    }
}

#letter-content {
    width: 700px;
    height: 490px;
    background-image: url("./images/sprites/initial_open_letter.png");
    /*padding: 40px;
    padding-top: 60px;*/

    line-height: 1.5;
    font-family: 'pixel';

    position: fixed;
    top: 100px;
    left: calc(50vw - 350px);
    display: none;

    z-index: 2001;
}

#letter-content p {
    width: 500px;
    height: 400px;

    padding-left: 100px;
    padding-top: 45px;
    display: none;
}

.letter {
    width: 80px;
    height: 56px;
    position: absolute;
    z-index: 2000;

    background-image: url('./images/sprites/letter.png');
    background-size: cover;
}

.letter:hover {
    cursor: pointer;
    
    width: 86px;
    height: 60px;
    
    box-shadow: 4px 2px 4px 2px rgba(0, 0, 0, 0.39)
}

.letter-close-btn {
    height: 40px;
    width: 40px;
    position: absolute;
    
    top: 38px;
    right: 62px;

    color: red;
    text-align: center;

    display: none;
    cursor: pointer;
    
}

.letter-close-btn h1 {
    line-height: normal;
    margin-top: -10px;
    margin: 0 auto;
    display: block;
}


.letter-close-btn:hover{
    color: rgb(160, 0, 0);
}

#first-letter {
    top: 3200px;
    transform: rotate(45deg);
}

#letter-2 {
    top: 3800px;
    left: calc(3 * 128px - 80px);
    transform: rotate(15deg);
}

#text2 {
    top: 4300px;
    
    width: 400px;
    height: 470px;
}

#text3 {
    top: 4850px;
    
    width: 400px;
    height: 410px;
}

#text4 {
    top: 5150px;
    
    width: 400px;
    height: 400px;
}

#text5 {
    left: 64px;
    top: 1200px;
    height: 100px;
    text-align: center;
}

#text6 {
    margin-left: 128px;
    top: 12300px;
    height: 500px;
}

#text7 {
    margin-left: calc(512px + 384px);
    top: 13600px;
    height: 500px;
}

#letter-3 {
    top: 5500px;
    transform: rotate(-23deg);
}

#letter-4 {
    left: 512px;
    top: 1280px;
    transform: rotate(-79deg);
}

#letter-5 {
    left: calc(512px + 384px);
    top: 1500px;
}

.right {
    transform: translateX(calc(512px + 384px + 128px));
}

.left {
    transform: translateX(calc(128px));
}

.interactable:hover {
    background-position: 256px;
    cursor: pointer;
}

.interactable-person:hover {
    cursor: pointer;
}

.plant {
    position: absolute;
    display: inline;
}

.tree {
    position: absolute;
    display: block;
    z-index: 6;
    height: 256px;
    width: 128px;
    background-image: url('./images/sprites/spruce.png');
}

.pine {
    position: absolute;
    display: block;
    z-index: 6;
    height: 256px;
    width: 128px;
    background-image: url('./images/sprites/pine.png');
}

.bush {
    position: absolute;
    display: block;
    z-index: 5;
    height: 128px;
    width: 128px;
    background-image: url('./images/sprites/bush.png');
}

.flowers {
    position: absolute;
    display: block;
    z-index: 5;
    height: 128px;
    width: 128px;
    background-image: url('./images/sprites/flowers.png');
}

.grass {
    position: absolute;
    display: block;
    z-index: 5;
    height: 128px;
    width: 128px;
    background-image: url('./images/sprites/long_grass.png');
}

/* HIDE SCROLLBARS */
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}